.product {
  display: flex;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgb(181 129 108 / 80%) 0px 8px 34px -25px;
  flex-direction: column;
  width: 230px;
  height: 260px;
  margin: 0px 0px 0px 12px;
  padding: 0px 0px 12px;
  position: relative;
}

.product-info {
  padding: 15px;
}

.product-info h5 {
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.product-info img {
  display: flex;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.product img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product button {
  height: 20px;
  background-color: rgb(245, 90, 90);
  border-radius: 5px;
  cursor: pointer;
}