.product-order {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid;
}

.product-order img {
  width: 30px;
  height: 30px;
}

.quantity {
  margin-left: 1rem;
  background-color: #c2c2c2;
  border-radius: 50px;
  text-align: center;
}